* {
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.55;
  font-weight: 600;

}

/* Header Section with centered title */
header {
  height: 5rem;
  text-align: center;
  background: #424542;
}

h1 {
  color: #baf193;
  padding-top: 1%;
  font-family: monospace;
  font-size: 300%;
}

/* Main Content Styling */
h2 {
  color: #424542;
  font-size: 200%;
  font-family: monospace;
}

main {
  padding: 2%;
  /* background: #c3dcd4; */
  background: linear-gradient(0deg,
      #fff 12%,
      #c3dcd4 84%);


}

img {
  background: #d3f7fb;
  padding: 1%;
  margin: 3% 0;
  border-radius: 15px 50px 15px;
  border: 7px solid #1f6551;
  filter: drop-shadow(9px 17px 8px #649c7c);
}

.student {
  max-width: 50%;
}


/* Sidebar aside */
li {}

li>a {}

li#email {}

li#github {}

li#portfolio {}