* {
  margin: 0 auto;
  line-height: 1.55;
  font-weight: 600;

}

/* font-family: 'Give You Glory', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Special Elite', cursive; */

/* Header Section with centered title */
body {
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: 'Indie Flower', cursive;
}

header {
  text-align: center;
  background: #086375;

}

h1 {
  color: #f5f8f3;
  padding-top: 1%;
  font-size: 300%;
  font-family: 'Indie Flower', cursive;
}

/* Main Content Styling */
h2 {
  color: #8f2d56;
  font-size: 200%;
  font-family: 'Special Elite', cursive;
}

main {
  padding: 2%;
}

img {
  padding: 1%;
  margin: 3% 0;
  border-radius: 15px 50px 15px;
  filter: drop-shadow(6px 5px 6px #5e6472);
}

.student {
  max-width: 50%;
}


/* Sidebar aside */
li {}

li>a {}

li#email {}

li#github {}

li#portfolio {}